.p {
  font-size: large;
  font-weight: 350;
}

.contributors {
  font-size: large;
  font-weight: 350;
}

.contributors li {
  list-style: none;
  margin: 5px 0;
}

.contributors a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.contributors img {
  width: auto;
  height: 1.5rem;
}

.contributors a:hover {
  text-decoration: underline;
}
