.searchBar {
  /* width: 100%; */
  margin-bottom: 1em;
  padding: 0.5em;
  width: 32em;
  border-radius: 0.75em;
  border: 0px;
  font-size: large;
  /* -webkit-box-shadow: 2px 2px 2px 0px rgba(121,58,255,0.38);  */
  box-shadow: 1px 1px 4px 0px var(--shadow-color);
  background: url(assets/magnifying-glass-svgrepo-com.svg) no-repeat scroll;
  background-size: 1em;
  background-color: var(--bg-secondary);
  background-position: 0.75em center;
  padding-left: 2em;
}
