.pageHeader{
    justify-content: center;
    height: 10%;

}

.cardInner{
    display: inline;
    align-items: center;
    padding: 10px 30px;
}
.cardInner span{
    float: right;
}

.cardOuter{
    border: 0px groove rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 1%;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(121,58,255,0.38); 
    box-shadow: 2px 2px 2px 0px rgba(77, 77, 77, 0.38);
    width: 80%;
    margin: 2% auto 2% auto;
    background-color: white;
    transition: background-color 0.5s;
}

.cardOuter:hover{
    transform: scale(1.02);
    transition: 0.5s all ease-in-out;
    background-color: whitesmoke;
    transition: padding-left 3s;
    transition: padding-right 3s;
    transition: background-color 0.5s;
}

.cardText{
    font-weight: 5000;
    font-size: large;
    float: right;   
}

.home {
    display: flex;
    height: 100vw;
    width: 100%;
    justify-content: center;
    background-color: rgb(233, 232, 232);
}
