* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: white;
  color: black;
  min-height: 80px;
  max-width: 300px;
  width: 100%;
  margin: 10px;
  padding: 20px;
  font-size: 1em;
}

.logo {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.header {
  display: flex;
  height: 50px;
  background-color: rgb(27, 7, 145);
  width: 100%;
  align-items: center;
  justify-content: start;
}

.header h2 {
  padding-left: 20px;
  font-size: 1.5em;
}

h2{
  font-size: 1em;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
