.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-main);
  color: var(--bg-main);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
  border-bottom: 0.8rem solid var(--accent-lighter);
}

.nav a {
  color: var(--bg-main);
}

.title::after {
  content: "Study Space Finder";
}

@media (max-width: 700px) {
  .title::after {
    content: "SSF";
  }

  .nav {
    padding: 0 2em;
  }
}

a {
  text-decoration: none;
}

ul a {
  color: inherit;
}

ul a :hover {
  color: inherit;
}

ul a.active {
  /* active style? */
}
