.nav {
  display: flex;
  justify-content: center;
  background-color: var(--accent-main);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  color: hsl(0deg, 0%, 90%);
  /* font-size: 1.1em; */
  z-index: 999;
}

.nav::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.8em;
  height: 0.8em;
  width: 100%;
  background-color: var(--accent-lighter);
}

.container,
.container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 0 3em;
  flex-grow: 1;
}

.container h1 {
  font-weight: 500;
}

.container ul {
  list-style: none;
  /* gap: 1.2em; */
}

.title::after {
  color: white;
  content: "Study Space Finder";
}

@media (max-width:700px){
  .title::after {
    content: "SSF";
  }

  .container {
    padding: 0 2em;
  }
}

a {
  text-decoration: none;
}

ul a {
  color: inherit;
}

ul a :hover{
  color: inherit;
}

ul a.active {
  /* active style? */
}
