.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-main);
  color: var(--bg-main);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
  border-bottom: 0.8rem solid var(--accent-lighter);
}

.nav a,
.title {
  color: var(--bg-secondary);
}

.title::after {
  content: "Study Space Finder";
}

@media (max-width: 700px) {
  .title::after {
    content: "SSF";
  }

  .nav {
    padding: 1em;
  }
}
